# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# AMBIENTE VIRTUAL
# =========================
venv/
.env/
.venv/

# =========================
# BANCO DE DADOS
# =========================
*.db
*.sqlite3

# =========================
# FLASK
# =========================
instance/
*.log

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
